<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <!-- 
    Define database names and assign default database name.
    DefaultDBName must one of the other DB names provided. 
    (In this case 'Local' or 'Leyland'.)
    -->
        <add key="DefaultDBName" value="Local"/>
        <add key="Local" value="*Public/DG NET Local"/>
        <add key="Leyland" value="*Public/Leyland"/>
        <add key="authenticateLocalDB" value="false"/>
        <!-- 
    // Disable MS's [BrowserLink feature.]
    (https://efficientuser.com/2017/07/06/browser-link-option-in-visual-studio/) 
    -->
        <add key="vs:EnableBrowserLink" value="false"/>
    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>

    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
    </system.web>

    <system.web>
        <!-- 
        // Enable Forms Authentication mode.
        -->
        <authentication mode="Forms">
            <forms name="Loginform" loginUrl="views/system/login.aspx" timeout="90"/>
            <!-- 30 -->
            <!-- 
        // The timeout value is specified in minutes. 
        // This value also determines how long the authentication cookie, if used,
        // persists.
        -->
        </authentication>
        <!--
        // Deny all unauthorized users from all pages unconditionally.
        // ? = unauthenticated (or anonymous) users.
        // * = all users authenticated or not authenticated
        -->
        <authorization>
            <deny users="?"/>
        </authorization>
    </system.web>

    <!--public folders-->

    <location path="public">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="views/system">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>